The following notebooks is currently storage for all the standard querysets needed for the monthly runs.
This has been added so they may be stored with all the other standard querysets and adjusted/changed en-masse later without having to touch the visualization code. 

To be added when updates to queryset come up: combined variable gdp that requires the use of two variables to create a third one. 
Currently has to be done in notebook and outside querysetting.

In [1]:
from viewser.operations import fetch
from viewser import Queryset, Column

In [2]:
features_qs = (Queryset("Monthly_update_features_cm", "country_month")


    # target variable
    .with_column(Column("ged_sb_ln1", from_table = "ged2_cm", from_column = "ged_sb_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        )
      .with_column(Column("ged_ns_ln1", from_table = "ged2_cm", from_column = "ged_ns_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        )
      .with_column(Column("ged_os_ln1", from_table = "ged2_cm", from_column = "ged_os_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        )
    .with_column(Column("ged_sb_ln2", from_table = "ged2_cm", from_column = "ged_sb_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.ops.ln()
        )
    .with_column(Column("ged_ns_ln2", from_table = "ged2_cm", from_column = "ged_ns_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.ops.ln()
        )
    .with_column(Column("ged_os_ln2", from_table = "ged2_cm", from_column = "ged_os_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.ops.ln()
        )
               
    .with_column(Column("vdem_v2x_libdem", from_table = "vdem_v12_cy", from_column = "vdem_v12_v2x_libdem")
        .transform.missing.replace_na()
        .transform.temporal.tlag(12)
        .transform.missing.fill()
        )
    .with_column(Column("wdi_sp_dyn_imrt_in", from_table = "wdi_cy", from_column = "wdi_sp_dyn_imrt_in")
                         .transform.missing.fill()
                         .transform.temporal.tlag(12)
                         .transform.missing.fill()
        )
    .with_column(Column("wdi_ny_gdp_mktp_kd", from_table = "wdi_cy", from_column = "wdi_ny_gdp_mktp_kd")
                 .transform.missing.fill()
                 .transform.temporal.tlag(12)
                 .transform.missing.fill()
                )
    .with_column(Column("wdi_sp_pop_totl", from_table = "wdi_cy", from_column = "wdi_sp_pop_totl")
                 .transform.missing.fill()
                 .transform.temporal.tlag(12)
                 .transform.missing.fill()
                )
    .with_theme("monthly_update")
                         
            .describe("""Features for the monthly report""")
              )

features_cm=features_qs.publish().fetch()

 .      o

In [3]:
features_pgm_qs = (Queryset("Monthly_update_features_pgm", "priogrid_month")


    # target variable
    .with_column(Column("ged_sb_ln1", from_table = "ged2_pgm", from_column = "ged_sb_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        )
      .with_column(Column("ged_ns_ln1", from_table = "ged2_pgm", from_column = "ged_ns_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        )
      .with_column(Column("ged_os_ln1", from_table = "ged2_pgm", from_column = "ged_os_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        )
    .with_column(Column("ged_sb_ln2", from_table = "ged2_pgm", from_column = "ged_sb_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.ops.ln()
        )
      .with_column(Column("ged_ns_ln2", from_table = "ged2_pgm", from_column = "ged_ns_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.ops.ln()
        )
      .with_column(Column("ged_os_ln2", from_table = "ged2_pgm", from_column = "ged_os_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.ops.ln()
        .transform.ops.ln()
        )
    
    .with_theme("monthly_update")
                         
            .describe("""Features for the monthly report""")
              )

features_pgm=features_pgm_qs.publish().fetch()

 .

In [4]:
pg_country_queryset = (Queryset("m_associate_country_2_priogrid", "priogrid_month")
              #CONFLICT TYPES NOT LOGGED and NOT time lagged 
            #.with_column(Column("month_id", from_table = "priogrid_month", from_column = "month_id"))
            .with_column(Column('name', from_table = 'country', from_column = 'name'))
                             
            .with_theme("Mapping")
                         
            .describe("""Mapping, allows for association of priogrid with country 
                
            """)
            
           )
pg_country = pg_country_queryset.publish().fetch().reset_index()

 .

In [5]:
running_average_qs = (Queryset("Monthly_update_running_average_cm", "country_month")


    # target variable
    .with_column(Column("ged_sb_run_average_6_ln1", from_table = "ged2_cm", from_column = "ged_sb_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.temporal.moving_average(6)
        .transform.ops.ln()
        )
      .with_column(Column("ged_ns_run_average_6_ln1", from_table = "ged2_cm", from_column = "ged_ns_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.temporal.moving_average(6)
        .transform.ops.ln()
        )
      .with_column(Column("ged_os_run_average_6_ln1", from_table = "ged2_cm", from_column = "ged_os_best_sum_nokgi")
        .transform.missing.replace_na()
        .transform.temporal.moving_average(6)
        .transform.ops.ln()
        )
                
    .with_theme("monthly_update")
                         
            .describe("""Features for the monthly report""")
    )
              

running_average_master=running_average_qs.publish().fetch()

 .

In [6]:
!viewser tables show country

  > Country
  ---------------------------------
  | name         | path         |
  |:-------------|:-------------|
  | id           | id           |
  | name         | name         |
  | area         | area         |
  | capname      | capname      |
  | caplong      | caplong      |
  | caplat       | caplat       |
  | gwcode       | gwcode       |
  | gwsyear      | gwsyear      |
  | gwsmonth     | gwsmonth     |
  | gwsday       | gwsday       |
  | gweyear      | gweyear      |
  | gwemonth     | gwemonth     |
  | gweday       | gweday       |
  | isoname      | isoname      |
  | isonum       | isonum       |
  | isoab        | isoab        |
  | geom         | geom         |
  | in_africa    | in_africa    |
  | month_start  | month_start  |
  | month_end    | month_end    |
  | centroidlong | centroidlong |
  | centroidlat  | centroidlat  |
  | in_me        | in_me        |

  ---------------------------------

In [7]:
country_names_and_regions_qs = (Queryset('Monthly_update_country_names_and_regions', 'country_month')
        .with_column(Column('name', from_table = 'country', from_column = 'name'))
        .with_column(Column('in_africa', from_table = 'country', from_column = 'in_africa'))
        .with_column(Column('in_me', from_table = 'country', from_column = 'in_me'))
        .with_theme("monthly_update")
                         
            .describe("""Features for the monthly report""")
    )
country_name_and_regions_master=country_names_and_regions_qs.publish().fetch()

 .

In [8]:
country_name_and_regions_master

                                    name  in_africa  in_me
month_id country_id
1        1                        Guyana          0      0
         2                      Suriname          0      0
         3           Trinidad and Tobago          0      0
         4                     Venezuela          0      0
         5                         Samoa          0      0
...                                  ...        ...    ...
852      242                    Tanzania          1      0
         243                     Morocco          1      0
         244                  Mauritania          1      0
         245                       Sudan          1      0
         246                 South Sudan          1      0

[158230 rows x 3 columns]